<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <link href="~/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="~/img/icons/icon-48x48.png" />

    <style>
        body {
            background-color: #4D0218 !important;
        }

        .content {
            background-color: #4D0218 !important;
        }

        .card {
            border-radius: 10px !important;
            overflow: hidden;
        }
    </style>
</head>
