
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{                

}
<div class="container mt-4">
    <h2 class="mb-4">Resultados de Entrevista: Juan Pérez</h2>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">¿Trabaja actualmente?</dt>
                <dd class="col-sm-9">Sí (Medio tiempo)</dd>

                <dt class="col-sm-3">Situación Familiar</dt>
                <dd class="col-sm-9">Vivo con mis padres y dos hermanos. El ambiente es tranquilo.</dd>

                <dt class="col-sm-3">Materias Reprobadas</dt>
                <dd class="col-sm-9"><span class="badge bg-success">Ninguna</span></dd>
            </dl>
            <a asp-area="Gestion" asp-controller="Tutorship" asp-action="ListaDeAlumnos" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>