@model dynamic

<div class="user-profile">
    <div class="d-flex align-items-center">
        <i class="bi bi-person-circle fs-3 text-white-50"></i>
        <div class="ms-2 user-info-text overflow-hidden">
            <p class="user-name text-truncate mb-0 text-white">@Model.FirstName @Model.LastName</p>
            <small class="text-white last-connection">
                @Model.JobName
            </small>
        </div>
    </div>
    <form asp-action="Logout" asp-controller="Account" asp-area="UserMng" method="post" class="d-inline">
        <button type="submit" class="btn btn-sm text-white-50 p-0 d-flex align-items-center border-0 bg-transparent">
            <i class="bi bi-box-arrow-right me-2"></i>
            <span class="sidebar-text" style="font-size: 0.75rem;">Salir</span>
        </button>
    </form>
</div>