@{
    ViewData["Title"] = "View";
    Layout = "/Areas/MainScreen/Views/Shared/_Layout.cshtml";
}

<h1>Servicio Social</h1>

<div class="platforms-wrapper">
    <div class="card">
        <div class="platforms-title">Acceso</div>

        <a asp-area="SocialService" asp-controller="Student" asp-action="Dashboard" class="platform-box">
            <div class="platform-icon">🎓</div>
            <div class="platform-label">Alumno</div>
        </a>

        <a asp-area="SocialService" asp-controller="Teacher" asp-action="Dashboard" class="platform-box">
            <div class="platform-icon">💼</div>
            <div class="platform-label">Docente</div>
        </a>
    </div>
</div>