@page "/"
@model SchoolManager.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="col-12">
        <h1>Bienvenido a SchoolManager</h1>
        <p>Usa el menú para navegar. Ir a <a asp-page="/Estadisticas/Index">Estadísticas</a>.</p>
    </div>
</div>