@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="platforms-wrapper">
    <div class="card">
        <div class="platforms-title">Acceso</div>

        <a asp-page="/Alumno/Dashboard" class="platform-box">
            <div class="platform-icon">🎓</div>
            <div class="platform-label">Alumno</div>
        </a>

        <a asp-page="/Profesor/Dashboard" class="platform-box">
            <div class="platform-icon">💼</div>
            <div class="platform-label">Docente</div>
        </a>

    </div>
</div>
