@model SchoolManager.Models.preenrollment_general

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>preenrollment_general</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdData" />
            <div class="form-group">
                <label asp-for="IdCareer" class="control-label"></label>
                <select asp-for="IdCareer" class="form-control" asp-items="ViewBag.IdCareer"></select>
                <span asp-validation-for="IdCareer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaternalLastName" class="control-label"></label>
                <input asp-for="PaternalLastName" class="form-control" />
                <span asp-validation-for="PaternalLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaternalLastName" class="control-label"></label>
                <input asp-for="MaternalLastName" class="form-control" />
                <span asp-validation-for="MaternalLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curp" class="control-label"></label>
                <input asp-for="Curp" class="form-control" />
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
