@model SchoolManager.Models.grades_teacher_subject_group

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>grades_teacher_subject_group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherSubject.TeacherSubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grades_group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grades_group.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeacherSubjectGroupId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
