@model SchoolManager.Models.grades_teacher_subject_group

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>grades_teacher_subject_group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherSubject.TeacherSubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grades_group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grades_group.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeacherSubjectGroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
