
<h3>Mis Horas</h3>

<div class="row mt-4">

    <!-- Prácticas -->
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white">
                Prácticas Profesionales
            </div>
            <div class="card-body">
                <p><strong>Horas requeridas:</strong> 480</p>
                <p><strong>Horas realizadas:</strong> 120</p>
                <p><strong>Horas faltantes:</strong> 360</p>

                <div class="progress">
                    <div class="progress-bar" style="width: 25%"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicio Social -->
    <div class="col-md-6">
        <div class="card border-success mb-3">
            <div class="card-header bg-success text-white">
                Servicio Social
            </div>
            <div class="card-body">
                <p><strong>Horas requeridas:</strong> 480</p>
                <p><strong>Horas realizadas:</strong> 80</p>
                <p><strong>Horas faltantes:</strong> 400</p>

                <div class="progress">
                    <div class="progress-bar bg-success" style="width: 17%"></div>
                </div>
            </div>
        </div>
    </div>

</div>
